<a href="https://colab.research.google.com/github/Aofarkane/KKU_Data_mining/blob/master/FIFA_WORLD_CUP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import numpy as np # linear 
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from matplotlib import pyplot as plt

In [28]:
import pandas as pd

In [29]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [30]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## *rankings Table*

In [31]:
rankings = pd.read_csv('/content/drive/My Drive/FIFA_2018/fifa_ranking.csv')

In [32]:
rankings

       rank country_full  ... confederation  rank_date
0         1      Germany  ...          UEFA   8/8/1993
1         2        Italy  ...          UEFA   8/8/1993
2         3  Switzerland  ...          UEFA   8/8/1993
3         4       Sweden  ...          UEFA   8/8/1993
4         5    Argentina  ...      CONMEBOL   8/8/1993
...     ...          ...  ...           ...        ...
57788   206     Anguilla  ...      CONCACAF   7/6/2018
57789   206      Bahamas  ...      CONCACAF   7/6/2018
57790   206      Eritrea  ...           CAF   7/6/2018
57791   206      Somalia  ...           CAF   7/6/2018
57792   206        Tonga  ...           OFC   7/6/2018

[57793 rows x 16 columns]

In [33]:
#set(rankings['country_full'])

In [34]:
rankings = rankings.loc[:,['rank', 'country_full', 'country_abrv', 'cur_year_avg_weighted', 'rank_date', 
                           'two_year_ago_weighted', 'three_year_ago_weighted']]

In [35]:
rankings

       rank country_full  ... two_year_ago_weighted  three_year_ago_weighted
0         1      Germany  ...                   0.0                      0.0
1         2        Italy  ...                   0.0                      0.0
2         3  Switzerland  ...                   0.0                      0.0
3         4       Sweden  ...                   0.0                      0.0
4         5    Argentina  ...                   0.0                      0.0
...     ...          ...  ...                   ...                      ...
57788   206     Anguilla  ...                   0.0                      0.0
57789   206      Bahamas  ...                   0.0                      0.0
57790   206      Eritrea  ...                   0.0                      0.0
57791   206      Somalia  ...                   0.0                      0.0
57792   206        Tonga  ...                   0.0                      0.0

[57793 rows x 7 columns]

In [36]:
rankings = rankings.replace({"IR Iran": "Iran"})

In [37]:
#rankings[rankings['country_full'] == 'Iran']

In [38]:
rankings['weighted_points'] =  rankings['cur_year_avg_weighted'] + rankings['two_year_ago_weighted'] + rankings['three_year_ago_weighted']

In [39]:
rankings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57793 entries, 0 to 57792
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   rank                     57793 non-null  int64
 1   country_full             57793 non-null  object
 2   country_abrv             57793 non-null  object
 3   cur_year_avg_weighted    57793 non-null  float64
 4   rank_date                57793 non-null  object
 5   two_year_ago_weighted    57793 non-null  float64
 6   three_year_ago_weighted  57793 non-null  float64
 7   weighted_points          57793 non-null  float64
dtypes: float64(4), int64(1), object(3)
memory usage: 3.5+ MB

In [40]:
rankings['rank_date'] = pd.to_datetime(rankings['rank_date'])

In [41]:
rankings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57793 entries, 0 to 57792
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   rank                     57793 non-null  int64
 1   country_full             57793 non-null  object
 2   country_abrv             57793 non-null  object
 3   cur_year_avg_weighted    57793 non-null  float64
 4   rank_date                57793 non-null  datetime64[ns]
 5   two_year_ago_weighted    57793 non-null  float64
 6   three_year_ago_weighted  57793 non-null  float64
 7   weighted_points          57793 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 3.5+ MB

## *matches Table*

In [42]:
matches = pd.read_csv('/content/drive/My Drive/FIFA_2018/results.csv')

In [43]:
matches

             date   home_team  ...     country  neutral
0      1872-11-30    Scotland  ...    Scotland    False
1      1873-03-08     England  ...     England    False
2      1874-03-07    Scotland  ...    Scotland    False
3      1875-03-06     England  ...     England    False
4      1876-03-04    Scotland  ...    Scotland    False
...           ...         ...  ...         ...      ...
41635    8/9/2020  Luxembourg  ...  Luxembourg    False
41636    8/9/2020      Cyprus  ...      Cyprus    False
41637    8/9/2020     Armenia  ...     Armenia    False
41638    8/9/2020     Georgia  ...     Georgia    False
41639    8/9/2020  San Marino  ...       Italy     True

[41640 rows x 9 columns]

In [44]:
#set(matches['home_team'])
#set(matches['away_team'])

In [45]:
matches =  matches.replace({'Germany DR': 'Germany', 'China': 'China PR'})

In [46]:
#matches[matches['away_team'] == 'China PR']
#matches[matches['home_team'] == 'China PR']

In [47]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41640 entries, 0 to 41639
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        41640 non-null  object
 1   home_team   41640 non-null  object
 2   away_team   41640 non-null  object
 3   home_score  41640 non-null  int64
 4   away_score  41640 non-null  int64
 5   tournament  41640 non-null  object
 6   city        41640 non-null  object
 7   country     41640 non-null  object
 8   neutral     41640 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.6+ MB

In [48]:
matches['date'] = pd.to_datetime(matches['date'])

In [49]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41640 entries, 0 to 41639
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        41640 non-null  datetime64[ns]
 1   home_team   41640 non-null  object
 2   away_team   41640 non-null  object
 3   home_score  41640 non-null  int64
 4   away_score  41640 non-null  int64
 5   tournament  41640 non-null  object
 6   city        41640 non-null  object
 7   country     41640 non-null  object
 8   neutral     41640 non-null  bool
dtypes: bool(1), datetime64[ns](1), int64(2), object(5)
memory usage: 2.6+ MB

## *world_cup*

In [50]:
world_cup = pd.read_csv('/content/drive/My Drive/FIFA_2018/World-Cup-2018-Dataset.csv')

In [51]:
world_cup

            Team Group  ...  history with\n third opponent\n goals  Unnamed: 19
0         Russia     A  ...                                    0.0          NaN
1   Saudi Arabia     A  ...                                   -5.0          NaN
2          Egypt     A  ...                                    5.0          NaN
3        Uruguay     A  ...                                    0.0          NaN
4        Porugal     B  ...                                    5.0          NaN
5          Spain     B  ...                                    7.0          NaN
6        Morocco     B  ...                                   -7.0          NaN
7           IRAN     B  ...                                   -5.0          NaN
8         France     C  ...                                    9.0          NaN
9      Australia     C  ...                                    NaN          NaN
10          Peru     C  ...                                    NaN          NaN
11       Denmark     C  ...                                   -9.0          NaN
12     Argentina     D  ...                                    1.0          NaN
13       Iceland     D  ...                                   -9.0          NaN
14       Croatia     D  ...                                    9.0          NaN
15       Nigeria     D  ...                                   -1.0          NaN
16        Brazil     E  ...                                    1.0          NaN
17   Switzerland     E  ...                                    1.0          NaN
18     Costarica     E  ...                                   -1.0          NaN
19        Serbia     E  ...                                   -1.0          NaN
20       Germany     F  ...                                    0.0          NaN
21        Mexico     F  ...                                   -3.0          NaN
22        Sweden     F  ...                                    3.0          NaN
23         Korea     F  ...                                    0.0          NaN
24       Belgium     G  ...                                  -70.0          NaN
25        Panama     G  ...                                    NaN          NaN
26       Tunisia     G  ...                                    NaN          NaN
27       England     G  ...                                   70.0          NaN
28        Poland     H  ...                                    3.0          NaN
29       Senegal     H  ...                                    0.0          NaN
30      Columbia     H  ...                                    0.0          NaN
31         Japan     H  ...                                   -3.0          NaN
32           NaN   NaN  ...                                    NaN          NaN

[33 rows x 20 columns]

In [52]:
len(world_cup)

33

In [53]:
world_cup = world_cup.loc[:, ['Team', 'Group', 'First match \nagainst', 'Second match\n against', 'Third match\n against']]

In [54]:
world_cup

            Team Group  ... Second match\n against Third match\n against
0         Russia     A  ...                  Egypt               Uruguay
1   Saudi Arabia     A  ...                Uruguay                 Egypt
2          Egypt     A  ...                 Russia          Saudi Arabia
3        Uruguay     A  ...           Saudi Arabia                Russia
4        Porugal     B  ...                Morocco                  Iran
5          Spain     B  ...                   Iran               Morocco
6        Morocco     B  ...               Portugal                 Spain
7           IRAN     B  ...                  Spain              Portugal
8         France     C  ...                   Peru               Denmark
9      Australia     C  ...                Denmark                  Peru
10          Peru     C  ...                 France             Australia
11       Denmark     C  ...              Australia                France
12     Argentina     D  ...                Croatia               Nigeria
13       Iceland     D  ...                Nigeria               Croatia
14       Croatia     D  ...              Argentina               Iceland
15       Nigeria     D  ...                Iceland             Argentina
16        Brazil     E  ...              Costarica                Serbia
17   Switzerland     E  ...                 Serbia             Costarica
18     Costarica     E  ...                 Brazil           Switzerland
19        Serbia     E  ...            Switzerland                Brazil
20       Germany     F  ...                 Sweden                 Korea
21        Mexico     F  ...                  Korea                Sweden
22        Sweden     F  ...                Germany                Mexico
23         Korea     F  ...                 Mexico               Germany
24       Belgium     G  ...                Tunisia               England
25        Panama     G  ...                England               Tunisia
26       Tunisia     G  ...                Belgium                Panama
27       England     G  ...                 Panama               Belgium
28        Poland     H  ...               Columbia                 Japan
29       Senegal     H  ...                  Japan              Columbia
30      Columbia     H  ...                 Poland               Senegal
31         Japan     H  ...                Senegal                Poland
32           NaN   NaN  ...                    NaN                   NaN

[33 rows x 5 columns]

In [55]:
world_cup = world_cup.dropna(how='all')

In [56]:
world_cup

            Team Group  ... Second match\n against Third match\n against
0         Russia     A  ...                  Egypt               Uruguay
1   Saudi Arabia     A  ...                Uruguay                 Egypt
2          Egypt     A  ...                 Russia          Saudi Arabia
3        Uruguay     A  ...           Saudi Arabia                Russia
4        Porugal     B  ...                Morocco                  Iran
5          Spain     B  ...                   Iran               Morocco
6        Morocco     B  ...               Portugal                 Spain
7           IRAN     B  ...                  Spain              Portugal
8         France     C  ...                   Peru               Denmark
9      Australia     C  ...                Denmark                  Peru
10          Peru     C  ...                 France             Australia
11       Denmark     C  ...              Australia                France
12     Argentina     D  ...                Croatia               Nigeria
13       Iceland     D  ...                Nigeria               Croatia
14       Croatia     D  ...              Argentina               Iceland
15       Nigeria     D  ...                Iceland             Argentina
16        Brazil     E  ...              Costarica                Serbia
17   Switzerland     E  ...                 Serbia             Costarica
18     Costarica     E  ...                 Brazil           Switzerland
19        Serbia     E  ...            Switzerland                Brazil
20       Germany     F  ...                 Sweden                 Korea
21        Mexico     F  ...                  Korea                Sweden
22        Sweden     F  ...                Germany                Mexico
23         Korea     F  ...                 Mexico               Germany
24       Belgium     G  ...                Tunisia               England
25        Panama     G  ...                England               Tunisia
26       Tunisia     G  ...                Belgium                Panama
27       England     G  ...                 Panama               Belgium
28        Poland     H  ...               Columbia                 Japan
29       Senegal     H  ...                  Japan              Columbia
30      Columbia     H  ...                 Poland               Senegal
31         Japan     H  ...                Senegal                Poland

[32 rows x 5 columns]

In [57]:
world_cup = world_cup.replace({"IRAN": "Iran", 
                               "Costarica": "Costa Rica", 
                               "Porugal": "Portugal", 
                               "Columbia": "Colombia", 
                               "Korea" : "Korea Republic"})

In [58]:
#world_cup = world_cup.set_index('Team')

In [59]:
world_cup

              Team Group  ... Second match\n against Third match\n against
0           Russia     A  ...                  Egypt               Uruguay
1     Saudi Arabia     A  ...                Uruguay                 Egypt
2            Egypt     A  ...                 Russia          Saudi Arabia
3          Uruguay     A  ...           Saudi Arabia                Russia
4         Portugal     B  ...                Morocco                  Iran
5            Spain     B  ...                   Iran               Morocco
6          Morocco     B  ...               Portugal                 Spain
7             Iran     B  ...                  Spain              Portugal
8           France     C  ...                   Peru               Denmark
9        Australia     C  ...                Denmark                  Peru
10            Peru     C  ...                 France             Australia
11         Denmark     C  ...              Australia                France
12       Argentina     D  ...                Croatia               Nigeria
13         Iceland     D  ...                Nigeria               Croatia
14         Croatia     D  ...              Argentina               Iceland
15         Nigeria     D  ...                Iceland             Argentina
16          Brazil     E  ...             Costa Rica                Serbia
17     Switzerland     E  ...                 Serbia            Costa Rica
18      Costa Rica     E  ...                 Brazil           Switzerland
19          Serbia     E  ...            Switzerland                Brazil
20         Germany     F  ...                 Sweden        Korea Republic
21          Mexico     F  ...         Korea Republic                Sweden
22          Sweden     F  ...                Germany                Mexico
23  Korea Republic     F  ...                 Mexico               Germany
24         Belgium     G  ...                Tunisia               England
25          Panama     G  ...                England               Tunisia
26         Tunisia     G  ...                Belgium                Panama
27         England     G  ...                 Panama               Belgium
28          Poland     H  ...               Colombia                 Japan
29         Senegal     H  ...                  Japan              Colombia
30        Colombia     H  ...                 Poland               Senegal
31           Japan     H  ...                Senegal                Poland

[32 rows x 5 columns]

# **Feature extraction**

In [60]:
# want to have the ranks for every day 
rankings = rankings.set_index(['rank_date'])\
            .groupby(['country_full'], group_keys=False)\
            .resample('D').first()\
            .fillna(method='ffill')\
            .reset_index()

In [61]:
matches

            date   home_team  ...     country  neutral
0     1872-11-30    Scotland  ...    Scotland    False
1     1873-03-08     England  ...     England    False
2     1874-03-07    Scotland  ...    Scotland    False
3     1875-03-06     England  ...     England    False
4     1876-03-04    Scotland  ...    Scotland    False
...          ...         ...  ...         ...      ...
41635 2020-08-09  Luxembourg  ...  Luxembourg    False
41636 2020-08-09      Cyprus  ...      Cyprus    False
41637 2020-08-09     Armenia  ...     Armenia    False
41638 2020-08-09     Georgia  ...     Georgia    False
41639 2020-08-09  San Marino  ...       Italy     True

[41640 rows x 9 columns]

In [62]:
# join the ranks
matches = matches.merge(rankings, 
                        left_on=['date', 'home_team'], 
                        right_on=['rank_date', 'country_full'])
matches = matches.merge(rankings, 
                        left_on=['date', 'away_team'], 
                        right_on=['rank_date', 'country_full'], 
                        suffixes=('_home', '_away'))

In [63]:
matches

            date  ... weighted_points_away
0     1993-09-01  ...                 0.00
1     1993-10-01  ...                 0.00
2     1993-10-01  ...                 0.00
3     1993-10-01  ...                 0.00
4     1993-10-01  ...                 0.00
...          ...  ...                  ...
18229 2018-01-12  ...               180.64
18230 2018-02-12  ...               241.85
18231 2018-05-12  ...                55.81
18232 2018-06-12  ...               236.67
18233 2018-11-12  ...               286.72

[18234 rows x 25 columns]

In [64]:
# feature 
matches['rank_difference'] = matches['rank_home'] - matches['rank_away']
matches['average_rank'] = (matches['rank_home'] + matches['rank_away'])/2
matches['point_difference'] = matches['weighted_points_home'] - matches['weighted_points_away']
matches['score_difference'] = matches['home_score'] - matches['away_score']
matches['is_won'] = matches['score_difference'] > 0 
matches['is_stake'] = matches['tournament'] != 'Friendly'

In [65]:
matches

            date     home_team  ... is_won  is_stake
0     1993-09-01  Sierra Leone  ...  False      True
1     1993-10-01        Angola  ...  False      True
2     1993-10-01      Botswana  ...  False     False
3     1993-10-01       Senegal  ...  False      True
4     1993-10-01       Tunisia  ...   True     False
...          ...           ...  ...    ...       ...
18229 2018-01-12      Malaysia  ...  False      True
18230 2018-02-12   Philippines  ...  False      True
18231 2018-05-12      Thailand  ...  False      True
18232 2018-06-12       Vietnam  ...   True      True
18233 2018-11-12      Malaysia  ...  False      True

[18234 rows x 31 columns]

In [66]:
# I tried earlier the team as well but that did not make a difference either
matches['wc_participant'] = matches['home_team'] * matches['home_team'].isin(world_cup.index.tolist())
matches['wc_participant'] = matches['wc_participant'].replace({'':'Other'})
matches = matches.join(pd.get_dummies(matches['wc_participant']))

In [67]:
matches['wc_participant'] = matches['home_team'] * matches['home_team'].isin(world_cup.index.tolist())

In [68]:
matches

            date     home_team     away_team  ...  is_stake  wc_participant Other
0     1993-09-01  Sierra Leone          Togo  ...      True                     1
1     1993-10-01        Angola      Zimbabwe  ...      True                     1
2     1993-10-01      Botswana  South Africa  ...     False                     1
3     1993-10-01       Senegal       Algeria  ...      True                     1
4     1993-10-01       Tunisia      Bulgaria  ...     False                     1
...          ...           ...           ...  ...       ...             ...   ...
18229 2018-01-12      Malaysia      Thailand  ...      True                     1
18230 2018-02-12   Philippines       Vietnam  ...      True                     1
18231 2018-05-12      Thailand      Malaysia  ...      True                     1
18232 2018-06-12       Vietnam   Philippines  ...      True                     1
18233 2018-11-12      Malaysia       Vietnam  ...      True                     1

[18234 rows x 33 columns]

In [69]:
matches['wc_participant'] = matches['wc_participant'].replace({'':'Other'})

In [70]:
matches

            date     home_team     away_team  ...  is_stake  wc_participant Other
0     1993-09-01  Sierra Leone          Togo  ...      True           Other     1
1     1993-10-01        Angola      Zimbabwe  ...      True           Other     1
2     1993-10-01      Botswana  South Africa  ...     False           Other     1
3     1993-10-01       Senegal       Algeria  ...      True           Other     1
4     1993-10-01       Tunisia      Bulgaria  ...     False           Other     1
...          ...           ...           ...  ...       ...             ...   ...
18229 2018-01-12      Malaysia      Thailand  ...      True           Other     1
18230 2018-02-12   Philippines       Vietnam  ...      True           Other     1
18231 2018-05-12      Thailand      Malaysia  ...      True           Other     1
18232 2018-06-12       Vietnam   Philippines  ...      True           Other     1
18233 2018-11-12      Malaysia       Vietnam  ...      True           Other     1

[18234 rows x 33 columns]

In [71]:
matches = matches.join(pd.get_dummies(matches['wc_participant']))

ValueError: ignored

In [ ]:
matches

**ตัวแปรต้น** หรือ Feature ที่ใช้สำหรับการทำนายผล แพ้-ชนะ

1. 'average_rank'

2. 'rank_difference'

3. 'point_difference'

4. 'is_stake'

**ตัวแปรตาม** หรือ Target ที่ต้องการทำนาย มีค่าเป็น แพ้-ชนะ 

*True = ชนะ*

*Fale  = แพ้*